// Variables for breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1280px;
$breakpoint-2x-large-desktop: 1536px;

// Background colors
$background-primary: #1E0209;

// Text colors
$text-primary: #ededed;

// Accent colors
$accent-primary: #ffd700;
