@import "../styles/variables";
@import "../styles/common";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $text-primary;
  background-color: $background-primary;
}

main {
  min-height: 100vh;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
