@import "../styles/variables";
@import "../styles/common";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $text-primary;
  background-color: $background-primary;
}

main {
  min-height: calc(100vh - 11rem);
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;

  &::placeholder {
    color: $text-secondary;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
}
