@import "../../styles/variables";

.header {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.list {
  display: flex;
  gap: 2rem;
}

.item {
  padding: 0.25rem;
}

.link {
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $accent-primary;
  }
}
