@import "../../styles/variables";
@import "../../styles/mixins";

.slider {
  position: relative;

  &:hover {
    .arrow {
      background-color: $background-secondary;

      & > svg {
        fill: $accent-primary;
      }
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  outline: none;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;

  background-color: $text-secondary;
  opacity: 0.9;

  & > svg {
    fill: $background-secondary;
  }

  @include only-large {
    display: inline-flex;
  }

  &.back {
    border-radius: 50%;
    left: 1.25rem;
  }
  &.next {
    border-radius: 50%;
    right: 1.25rem;
  }
}
