@import "../../styles/variables";
@import "../../styles/mixins";

.slider {
  position: relative;

  // margin-left: calc(#{$global-gap} / 4 * -1);
  // margin-right: calc(#{$global-gap} / 4 * -1);

  // :global(.slick-slide > *) {
  //   margin: 0 calc(#{$global-gap} / 4);
  // }

  // :global(.slick-track) {
  //   margin-left: 0 !important;
  // }

  &:hover {
    .arrow {
      background-color: $background-secondary;

      & > svg {
        fill: $accent-primary;
      }
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  outline: none;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;

  background-color: $text-secondary;
  opacity: 0.9;

  transition: background-color 0.3s ease;

  & > svg {
    fill: $background-secondary;
    transition: fill 0.3s ease;
  }

  @include only-large {
    display: inline-flex;
  }

  &.back {
    border-radius: 50%;
    left: 1.25rem;
  }
  &.next {
    border-radius: 50%;
    right: 1.25rem;
  }
}
